

.header-list {
    margin-left: auto;
    position: relative;
  }
  
  #nav-toggle {
    display: block;
    width: 32px;
    height: 32px;
    cursor: pointer;
    transform: rotate(0deg);
  }
  
  #nav-toggle span {
    background-color: black;
    width: 100%;
    height: 4px;
    border-radius: 1px;
    display: block;
    position: absolute;
    left: 0;
    content: "";
    transition: 0.5s ease-in-out;
  }
  
  #nav-toggle span:nth-child(1) {
    top: 4px;
    transform-origin: left center;
  }
  
  #nav-toggle span:nth-child(2) {
    top: 14px;
    transform-origin: left center;
  }
  
  #nav-toggle span:nth-child(3) {
    top: 24px;
    transform-origin: left center;
  }
  
  #nav-toggle.open span:nth-child(1) {
    transform: rotate(45deg);
    top: 3px;
    left: 4px;
  }
  
  #nav-toggle.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
  }
  
  #nav-toggle.open span:nth-child(3) {
    transform: rotate(-45deg);
    top: 25px;
    left: 4px;
  }
  
  #nav-overlay {
    position: absolute;
    top: 16px;
    left: 16px;
    z-index: -1;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 50%;
    transition: 1s;
    transform: scale3d(0, 0, 0);
  }
  
  #nav-overlay.open {
    transform: scale3d(1, 1, 1);
  }
  
  #nav-fullscreen {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    transition: ease-in-out 0.25s;
    transition-delay: 0s;
    visibility: hidden;
    opacity: 0;
  }
  #nav-fullscreen ul {
    list-style: none;
  }
  #nav-fullscreen a {
    color: white;
    text-decoration: none;
  }
  
  #nav-fullscreen.open {
    visibility: visible;
    opacity: 1;
    transition: ease-in-out 0.5s;
    transition-delay: 0.25s;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  html {
    box-sizing: border-box;
  }
  
  html, body {
    height: 100%;
  }
  
  body {
    display: flex;
    background-color: black;
    padding: 16px;
    overflow: hidden;
    color: white;
  }
  
  #nav-overlay {
    background: linear-gradient(180deg, #FF512F 10%, #FF512F 50%, #DD2476 90%);
  }
  
  #nav-toggle span {
    background-color: white;
  }
  
  #nav-fullscreen {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: sans-serif;
    font-size: 10vh;
  }
  #nav-fullscreen li:hover {
    list-style: disc;
  }




body {
    font-family: "Avenir Next";
  }
  
  li {
    list-style: none;
 
    float:left;
    padding: 33px 20px;
    
    
  }
  
  header {
    background-color: #fcfcfc;
    height: 100px;
  }
  
 
  .header-logo {
    font-size:36px;
    float:left;
    padding: 20px 40px;
    color:#000
  }
  

  .btn{
    color:rgb(0, 0, 0);
    background-color: #fcfcfc;
    padding:35px 20px;
    font-size:14px;
    text-decoration:none;
    letter-spacing:2px;
    text-transform:uppercase;
    float:left;
  }
  
  .btn:hover{
    border:none;
    background:rgba(255, 9, 9, 0.4);
    background:rgb(128, 126, 126);
    padding:40px 20px; 
    color: rgba(255, 255, 255, 0.877);
  }
  
  
  main {
    background-color: #fcfcfc;
    height: 1000px;
    
  }



  

  @import url("https://fonts.googleapis.com/css?family=Heebo:800");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.parent {
  width: 1080px;
  height: 650px;
  top: 150px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto auto;
  overflow: hidden;
  position: absolute;
  border-radius: 16px;
  -webkit-box-shadow: 0 0 40px 5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 0 40px 5px rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 40px 5px rgba(0, 0, 0, 0.75);
}

svg {
  position: absolute;
  z-index: 1;
  width: 1200px;
  height: 650px;
}

button {
  position: absolute;
  z-index: 50;
  width: 40px;
  overflow: hidden;
  height: 40px;
  border: none;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
  -webkit-box-shadow: 0 0 88px 5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 0 88px 5px rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 88px 5px rgba(0, 0, 0, 0.75);
}
button:focus {
  outline-width: 0;
}

circle {
  stroke: rgb(0, 0, 0);
  fill: none;
  transition: 0.1s;
}

#svg1 circle {
  transition-timing-function: linear;
}

#svg2 circle {
  transition-timing-function: linear;
}

#Capa_1 {
  position: absolute;
  width: 16px;
  height: 16px;
  transform: translate(-7px, -8px);
}

#Capa_2 {
  position: absolute;
  width: 16px;
  height: 16px;
  transform: translate(-9px, -8px);
}

.right {
  margin-left: 1130px;
  margin-top: 300px;
  border: 1px solid #849494;
  background-color: transparent;
  transition: 0.5s;
}
.right:hover {
  background-color: #fff;
}

.left {
  margin-left: 0.5%;
  margin-top: 300px;
  border: 1px solid #849494;
  background-color: transparent;
  transition: 0.4s;
}
.left:hover {
  background-color: #fff;
}

.circle1 {
  transition-delay: 0.05s;
}

.circle2 {
  transition-delay: 0.1s;
}

.circle3 {
  transition-delay: 0.15s;
}

.circle4 {
  transition-delay: 0.2s;
}

.circle5 {
  transition-delay: 0.25s;
}

.circle6 {
  transition-delay: 0.3s;
}

.circle7 {
  transition-delay: 0.35s;
}

.circle8 {
  transition-delay: 0.4s;
}

.circle9 {
  transition-delay: 0.45s;
}

.circle10 {
  transition-delay: 0.05s;
}

.circle11 {
  transition-delay: 0.1s;
}

.circle12 {
  transition-delay: 0.15s;
}

.circle13 {
  transition-delay: 0.2s;
}

.circle14 {
  transition-delay: 0.25s;
}

.circle15 {
  transition-delay: 0.3s;
}

.circle16 {
  transition-delay: 0.35s;
}

.circle17 {
  transition-delay: 0.4s;
}

.circle18 {
  transition-delay: 0.45s;
}



.slide3 {
  background-image: url("https://raw.githubusercontent.com/Yuga1127/BroadwayMusicalCircle/main/IMG_20200815_220456_655.jpg");
}

.slide4 {
  background-image: url("https://raw.githubusercontent.com/Yuga1127/BroadwayMusicalCircle/main/IMG_20200305_231039_548%20(1).jpg");
}

.slide5 {
  background-image: url("https://raw.githubusercontent.com/Yuga1127/BroadwayMusicalCircle/main/inCollage_20200306_233237087.jpg");
}

.slide6 {
  background-image: url("https://raw.githubusercontent.com/Yuga1127/BroadwayMusicalCircle/main/%E3%83%95%E3%82%A1%E3%82%A4%E3%83%AB_000.jpeg");
}

.slide2 {
  background-image: url("https://raw.githubusercontent.com/Yuga1127/BroadwayMusicalCircle/main/IMG_20200303_213043_316.jpg");
}

.slide1 {
  background-image: url("https://raw.githubusercontent.com/Yuga1127/BroadwayMusicalCircle/main/IMG_20200302_230626_094.jpg");
}

.slider {
  position: absolute;
  width: 400%;
  height: 100%;
  background: #000;
  display: inline-flex;
  overflow: hidden;
}

.slide1, .slide2, .slide3, .slide4, .slide5, .slide6 {
  position: absolute;
  background-position: center;
  background-size: cover;
  color: rgba(255, 255, 255, 0.87);
  font-size: 62px;
  padding-top: 250px;
  font-weight: 800;
  font-family: "Heebo", sans-serif;
  text-align: center;
  width: 25%;
  height: 100%;
  z-index: 10;
  transition: 0.8s;
}

.tran {
  transform: scale(1.5);
}

.up1 {
  z-index: 20;
}

.up2 {
  z-index: 40;
}

.steap {
  stroke-width: 0;
}

.streak {
  stroke-width: 1100px;
}

@media (max-width: 700px) {
  .parent {
    margin-left: 1%;
  }
}




html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* Variables */
body {
  background: #05222e;
  font-family: Lato ;
}

@font-face {
  font-family: 'Genericons';
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/53819/genericons-regular-webfont.eot");
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/53819/genericons-regular-webfont.woff") format("woff"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/53819/genericons-regular-webfont.eot") format("truetype");
  font-weight: normal;
  font-style: normal;
}
[class*="genericon"] {
  display: inline-block;
  width: 12px;
  height: 12px;
  -webkit-font-smoothing: antialiased;
  font-size: 12px;
  line-height: 1;
  font-family: 'Genericons';
  text-decoration: inherit;
  font-weight: normal;
  font-style: normal;
  vertical-align: top;
}

/* IE7 */
[class*="genericon"] {
  *overflow: auto;
  *zoom: 1;
  *display: inline;
}

footer {
    margin: 100px auto;
}

.accordion {
  background: #05222e;
  width: 100%;
  min-width: 950px;
  display: block;
  list-style-type: none;
  overflow: hidden;
  height: 200px;
  font-size: 0;
}

.tabs {
  display: inline-block;
  background-color: #05222e;
  border-right: #05222e 1px solid;
  width: 80px;
  height: 200px;
  overflow: hidden;
  position: relative;
  margin: 0;
  font-size: 16px;
  -moz-transition: all 0.4s ease-in-out 0.1s;
  -o-transition: all 0.4s ease-in-out 0.1s;
  -webkit-transition: all 0.4s ease-in-out;
  -webkit-transition-delay: 0.1s;
  transition: all 0.4s ease-in-out 0.1s;
}
.tabs:hover {
  width: 450px;
}
.tabs:hover .social-links a:before {
  margin-left: -100px;
}
.tabs:hover .social-links a:after {
  margin-left: -5px;
}
.tabs .paragraph {
  position: relative;
  width: 360px;
  margin-left: 80px;
  padding: 50px 0 0 10px;
  height: 200px;
  background: #fff;
}
.tabs .paragraph h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
}
.tabs .paragraph p {
  font-size: 0.88em;
  line-height: 1.5em;
  padding-right: 30px;
}

.social-links {
  display: block;
}
.social-links a {
  display: block;
  text-indent: -9999px;
  font-size: 0;
  line-height: 0;
}
.social-links a:before, .social-links a:after {
  -moz-transition: all 0.4s ease-in-out 0.1s;
  -o-transition: all 0.4s ease-in-out 0.1s;
  -webkit-transition: all 0.4s ease-in-out;
  -webkit-transition-delay: 0.1s;
  transition: all 0.4s ease-in-out 0.1s;
  width: 80px;
  height: 200px;
  position: absolute;
  text-indent: 0;
  padding-top: 90px;
  padding-left: 25px;
  display: block;
  font: normal 30px Genericons;
  color: #fff;
}
.social-links a:after {
  font-size: 48px;
  padding-left: 20px;
  padding-top: 80px;
  margin-left: 85px;
}

.twitter-icon a:before, .twitter-icon a:after {
  content: '\f202';
}
.twitter-icon a:after {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzdhZGNmOSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzRiYzlmNSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #7adcf9), color-stop(100%, #4bc9f5));
  background-image: -moz-linear-gradient(#7adcf9, #4bc9f5);
  background-image: -webkit-linear-gradient(#7adcf9, #4bc9f5);
  background-image: linear-gradient(#7adcf9, #4bc9f5);
}

.facebook-icon a:before, .facebook-icon a:after {
  content: '\f204';
}
.facebook-icon a:after {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzU0OGFiZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzI5NWI5ZSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #548abf), color-stop(100%, #295b9e));
  background-image: -moz-linear-gradient(#548abf, #295b9e);
  background-image: -webkit-linear-gradient(#548abf, #295b9e);
  background-image: linear-gradient(#548abf, #295b9e);
}

.linkedin-icon a:before, .linkedin-icon a:after {
  content: '\f208';
}


.insta-icon a:before, .insta-icon a:after {
  content: '\f215';
}
.insta-icon a:after {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzdmYzEyMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzI5ODczMyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #b10664), color-stop(100%, #9e0459));
  background-image: -moz-linear-gradient(#b10664, #9e0459);
  background-image: -webkit-linear-gradient(#b10664, #9e0459);
  background-image: linear-gradient(#b10664, #9e0459);
}

.youtube-icon a:before, .youtube-icon a:after {
  content: '\f213';
}
.youtube-icon a:after {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RmMTkyYSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2M0MTIyMiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #df192a), color-stop(100%, #c41222));
  background-image: -moz-linear-gradient(#df192a, #c41222);
  background-image: -webkit-linear-gradient(#df192a, #c41222);
  background-image: linear-gradient(#df192a, #c41222);
}

.tumblr-icon a:before, .tumblr-icon a:after {
  content: '\f214';
}
.tumblr-icon a:after {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI4M2U1NiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzMyNTM3MiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #283e56), color-stop(100%, #325372));
  background-image: -moz-linear-gradient(#283e56, #325372);
  background-image: -webkit-linear-gradient(#283e56, #325372);
  background-image: linear-gradient(#283e56, #325372);
}

.dribbble-icon a:before, .dribbble-icon a:after {
  content: '\f201';
}
.dribbble-icon a:after {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2UwM2E3MCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2YxODliOCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e03a70), color-stop(100%, #f189b8));
  background-image: -moz-linear-gradient(#e03a70, #f189b8);
  background-image: -webkit-linear-gradient(#e03a70, #f189b8);
  background-image: linear-gradient(#e03a70, #f189b8);
}
